<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReStudy</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
<div style="text-align: center">
    <div id="app"></div>

</div>

</body>

<script>

    const App = {
        data() {
            return {
                motto: '大道至简',
                isDisabled: false,
                // toSon: '爸爸给你的信息'
                toSon: '',
                item_id: '123',
                lists: ['一只猪', '在看书', '哼哼叫'],
                fontcolor: {'color': '#0B6FDE'},
                input_content: 'zhangsan',
                pic_url: 'http://0.0.0.0:8888/image/1',
                git_post: '',
                centerDialogVisible: false,
                show_add_idea: true
            }
        },
        mounted() {
        },
        methods: {
            dolist(e) {
                var c = this.lists.length
                for (var i = 0; i < c; i++) {
                    if (this.lists[i] == e) {
                        this.lists.splice(i, 1)
                        break
                    }
                }
                console.log(this.lists)
            },
            handlecolor(color) {
                this.fontcolor = {'color': color}
            },
            show_alert(e = 'nothing') {
                alert(e)
            },
            changepic() {
                this.pic_url = 'http://0.0.0.0:8888/image/2'
                console.log(this.pic_url)
            },
        },
        computed: {},
        template: `
          <h1 :style="fontcolor">{{ motto }}<input type="color" @change="handlecolor($event.target.value)"
                                                   value="#0B6FDE" style="float:right"></h1>

          <data-by-sql></data-by-sql>
          <div v-for="(item,index) in lists" :key="item">
          <q-title-line :text="item" :item_id="index" @dodlist="dolist" :model-value="item"></q-title-line>
          </div>
          <text-to-post></text-to-post>

        `
    };
    const app = Vue.createApp(App);

    // ####################################################################
    // 组件模板
    app.component('item_name', {
        props: [],
        data() {
            return {
                item: ''
            }
        },
        methods: {
            doNothing(event) {
                console.log(event.target)
            },
            send(request_url) {
                axios({
                    method: 'get',
                    url: request_url
                }).then(function (res) {
                    console.log(res.data)
                }).catch(error => {
                    console.log(error)
                });
            },

        },
        mounted() {
            // 输入url
            // this.send()
        },
        template: `

          <div class="acpt">
          <slot></slot>
          </div>

        `,
    })

    // ####################################################################

    // 输入内容并发送到邮箱，待人工审核
    app.component('text-to-post', {
        data() {
            return {
                content: '',
                isloading: false,
                title: '添加新的想法，待人工审核，发送速度较慢，请耐心等待！'
            }
        },
        methods: {
            showalert() {
                this.isloading = true
                setInterval(() => {
                    this.isloading = false
                    this.content = ''
                }, 1000)
            },
            post_to_git() {
                if (this.content) {
                    this.isloading = true
                    _this = this
                    email_data = {
                        SecureToken: "a6c57396-3727-4e65-a8d4-f91dc52a179c",
                        To: 'gitmail@yeah.net',
                        From: "sunzhongshanzpmc@yeah.net",
                        Subject: "post_github" + ':' + this.content.substring(0, 10),  // 截取内容前10个字符
                        Body: this.content
                    };
                    Email.send(email_data).then(
                        function (message) {
                            console.log(message);
                            _this.isloading = false
                            _this.content = ''
                        }
                    );
                } else {
                    alert('请输入内容！')
                }
            },
        },
        template: `
          <div style="width: 70%;margin: 0 auto;padding: 10px">
          <el-divider><p>{{ title }}</p></el-divider>
          <div>
            <el-input type="textarea" v-model="content" show-word-limit :autosize="{ minRows: 1}" resize="none"
                      style="width: 90%" :placeholder="title"></el-input>
            <el-button @click="post_to_git" size="small" type="primary" :loading="isloading">提交</el-button>
          </div>
          </div>

        `
    })


    // data_by_sql
    app.component('data-by-sql', {
        props: [],
        data() {
            return {
                listname: '人生问答',
                pageurl: 'https://silvio27.github.io',
                input_text: '',
                isRed: true,
                isGreen: false,
                isActive: true
            }
        },
        methods: {
            doNothing(event) {
                console.log(event.target)
            },
        },
        mounted() {

        },
        computed: {},
        watch: {
            input_text(newly) {
                if (newly.indexOf('?') > -1) {
                    this.listname = newly
                    this.isGreen = true
                    this.isRed = false
                } else if (newly.length === 0) {
                    this.listname = '空'
                } else {
                    this.listname = '正在输入……'
                    this.isRed = true
                    this.isGreen = false
                }
            }
        },

        template: `

          <div class="acpt">
          <template v-if="isActive">
            <h3 :class="{green:isGreen,red:isRed}">{{ listname }}<a :href="pageurl" target="_blank"><i
                class="el-icon-ice-cream-round"></i></a></h3>
            <el-input type="text" v-model="input_text"></el-input>
          </template>

          </div>
        `,
    })

    // 编辑删除按钮组
    app.component('edit-del-btn-group', {
        props: ['tip', 'item_id'],
        emits: ['showno', 'editipt'],
        data() {
            return {
                isDelete: true,
                visible: false
            }
        },
        methods: {
            handleClick() {
                this.isDelete = !this.isDelete
            },
        },
        mounted() {
        },
        template: `
          <el-button-group>
          <el-button :type="this.isDelete ? 'primary' : 'success'" icon="el-icon-edit"
                     @click="handleClick(),$emit('editipt')">{{ this.isDelete ? '编辑' : '完成' }}
          </el-button>
          <el-button type="info" plain :id="item_id"
                     @click.capture="$emit('enlargeText','子组件的按钮被点击了'+ this.tip)" disabled>
          </el-button>
          <el-popover
              placement="top"
              :width="160"
              :visible="visible"
          >
            <p>Are you sure?</p>
            <div style="text-align: right; margin: 0">
              <el-button type="primary" size="small" @click="visible = false">取消</el-button>
              <el-button type="danger" size="mini" @click="$emit('showno'),visible = false">确定</el-button>
            </div>
            <template #reference>
              <el-button type="danger" icon="el-icon-delete" circle :plain="isDelete" :disabled="isDelete"
                         @click="visible = true"></el-button>
            </template>
          </el-popover>


          </el-button-group>

        `,
    })

    // 输入框+编辑删除按钮
    app.component('q-title-line', {
        props: ['text', 'item_id'],
        emits: ['update:text'],
        data() {
            return {
                item: '输入一段文字',
                btn_tip: '这是一段按钮提示内容',
                showme: true,
                item_id_btn: this.item_id + '+btn',
                formInline: {
                    user: '',
                    region: ''
                },
                ttt: this.text,
                editable: true,
                cccc: ''
            }
        },
        methods: {
            doNothing(event) {
                console.log(event.target)
            },
            send(request_url) {
                axios({
                    method: 'get',
                    url: request_url
                }).then(function (res) {
                    console.log(res.data)
                }).catch(error => {
                    console.log(error)
                });
            },
            show_alert(e = '没有内容') {
                alert(e)
            },
            editinput() {
                this.editable = !this.editable
                this.$refs.input.focus() // foucs到input中
            },
        },
        computed() {

        },
        mounted() {

        },
        // el-input 已经不是原生input,被包装了，看el-input参数 https://element-plus.gitee.io/#/zh-CN/component/input
        template: `
          <div style="padding: 10px" v-show="showme" id="item_id">
          <span style="margin-right: 10px">{{ item_id + 1 }}</span>
          <el-input type="text" style="width: 50%" v-model="ttt" placeholder="占位专用小板凳"
                    :title="ttt" :readonly="this.editable" ref="input"></el-input>
          <edit-del-btn-group :tip="text" :item_id='item_id_btn' @enlarge-text="show_alert"
                              @showno="$emit('dodlist',this.text)" @editipt="editinput"></edit-del-btn-group>
          </div>

        `,
    })

    // 子组件反馈数据到父组件
    app.component('click-show-text', {
        props: ['postTitle'],
        template: `
          <h3 @click="$emit('cc',$event.target.innerText)">
          <slot>{{ postTitle }}</slot>
          </h3>
        `
    })

    app.component('custom-input', {
        props: ['modelValue'],
        template: `
          <input
              :value="modelValue"
              @input="$emit('update:modelValue', $event.target.value)"
          >
        `
    })

    app.use(ElementPlus);
    const vm = app.mount('#app');

</script>

<style scope>
    .acpt {
        border: rgba(141, 141, 141, 0.63) 1px dashed;
        margin: 5px;
        padding: 5px;
        text-align: left;
        padding-left: 10px;
    }

    .minifont {
        /*font-size: 12px;*/
        color: lightgray;
    }

    .ansc {
        padding-left: 20px;
    }

    .red {
        color: red;
    }

    .green {
        color: yellowgreen;
    }


</style>

</html>